<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="dwr">

  <display-name>DWR Test</display-name>

  <listener>
    <listener-class>org.directwebremoting.hibernate.DatabaseInitServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.directwebremoting.servlet.EfficientShutdownServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.directwebremoting.bayeux.BayeuxServletContextAttributeListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>classes</param-name>
      <param-value>
      com.example.dwr.marshall.TestBean2Converter,
      com.example.dwr.marshall.Test,
      com.example.dwr.marshall.TestBean
      </param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>allowImpossibleTests</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>allowGetForSafariButMakeForgeryEasier</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>org.directwebremoting.Container</param-name>
      <param-value>org.directwebremoting.testimpl.TestDefaultContainer</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>bayeux</servlet-name>
    <servlet-class>org.mortbay.cometd.continuation.ContinuationCometdServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>bayeux</servlet-name>
    <url-pattern>/bayeux/*</url-pattern>
  </servlet-mapping>

</web-app>
