
#tablist
{
    padding: 3px 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0.1em;
    font: bold 12px Verdana;
}

#tablist li
{
    list-style: none;
    display: inline;
    margin: 0;
}

#tablist li a
{
    border: 1px solid #BBCCDD;
    padding: 3px 0.5em;
    margin-left: 3px;
    border-bottom: none;
    background: #BBCCDD;
}

#tablist li a:link, #tablist li a:visited
{
    color: navy;
}

#tablist li a.current
{
    background: #DDEEFF;
}

#tabcontentcontainer
{
    /*width: 400px;*/
    /* Insert Optional Height definition here to give all the content a unified height */
    padding: 5px;
    border: 1px solid #BBCCDD;
}

.tabcontent
{
    display: none;
}
