
#basic table { border-collapse:collapse; }
#basic th, #basic td { border:1px solid #000; padding:.25em; }
#basic th { background-color:#FFB; }

#xbasic {margin:1em;}
#xbasic .yui-dt-odd {background-color:#eee;} /*light gray*/
#xbasic em {font-style:italic;}
#xbasic strong {font-weight:bold;}
#xbasic .big {font-size:136%;}
#xbasic .small {font-size:77%}
