<?xml version="1.0"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
        ">

  <!-- Exposed resources -->
  <dwr:configuration>
    <dwr:convert type="bean" class="org.getahead.dwrdemo.chat.Message"/>
    <dwr:convert type="bean" class="org.getahead.dwrdemo.people.Person" javascript="Person"/>
    <dwr:convert type="bean" class="org.getahead.dwrdemo.gidemo.Corporation"/>
    <dwr:convert type="bean" class="org.getahead.dwrdemo.ticketcenter.Call"/>
    <!-- this is a bad idea for live, but can be useful in testing -->
    <dwr:convert type="exception" class="java.lang.Exception"/>
    <dwr:convert type="bean" class="java.lang.StackTraceElement"/>
  </dwr:configuration>

  <dwr:controller id="dwrController" debug="true"/>
  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="alwaysUseFullPath" value="true"/>
    <property name="mappings">
      <props>
        <prop key="/dwr/**/*">dwrController</prop>
      </props>
    </property>
  </bean>

  <!--
  <filter class="org.getahead.dwrdemo.monitor.MonitoringAjaxFilter"/>
  <filter class="org.directwebremoting.filter.ExtraLatencyAjaxFilter">
    <param name="delay" value="200"/>
  </filter>
  -->

  <!-- intro - for the test on index.html -->
  <bean name="intro" class="org.getahead.dwrdemo.intro.Intro">
    <dwr:remote javascript="Intro"/>
  </bean>

  <!-- chat -->
  <bean name="javascriptChat" class="org.getahead.dwrdemo.chat.JavascriptChat">
    <dwr:remote javascript="JavascriptChat"/>
  </bean>
  <bean name="javaChat" class="org.getahead.dwrdemo.chat.JavaChat">
    <dwr:remote javascript="JavasChat"/>
  </bean>

  <!-- clock -->
  <bean name="clock" class="org.getahead.dwrdemo.clock.Clock">
    <dwr:remote javascript="Clock"/>
  </bean>

  <!-- people -->
  <bean name="people" class="org.getahead.dwrdemo.people.People" scope="session">
    <!-- Spring does not support script scope, so we're using session scope -->
    <dwr:remote javascript="People"/>
    <!-- <aop:scoped-proxy proxy-target-class="false"/> -->
  </bean>

  <!-- simple text -->
  <bean name="demo" class="org.getahead.dwrdemo.simpletext.Demo">
    <dwr:remote javascript="Demo"/>
  </bean>

  <!-- resources not in this war file: java.util.Date -->
  <bean name="jdate" class="org.getahead.dwrdemo.simpletext.Demo">
    <dwr:remote javascript="JDate">
      <dwr:exclude method="getHours"/>
      <dwr:auth method="getMinutes" role="admin"/>
      <dwr:auth method="getMinutes" role="devel"/>
      <dwr:filter class="org.getahead.dwrdemo.filter.LoggingAjaxFilter"/>
    </dwr:remote>
  </bean>

  <!-- TIBCO GI Demos -->
  <bean name="publisher" class="org.getahead.dwrdemo.gidemo.Publisher">
    <dwr:remote javascript="Publisher"/>
  </bean>
  <bean name="corporations" class="org.getahead.dwrdemo.gidemo.Corporations">
    <dwr:remote javascript="Corporations"/>
  </bean>
  <bean name="callCenter" class="org.getahead.dwrdemo.ticketcenter.CallCenter">
    <dwr:remote javascript="CallCenter"/>
  </bean>
  <bean name="reverse" class="org.getahead.dwrdemo.reverse.Reverse">
    <dwr:remote javascript="Reverse"/>
  </bean>

  <!-- file upload and download -->
  <bean name="uploadDownload" class="org.getahead.dwrdemo.files.UploadDownload">
    <dwr:remote javascript="UploadDownload"/>
  </bean>

</beans>
