<?xml version="1.0"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
        ">

  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="alwaysUseFullPath" value="true"/>
    <property name="mappings">
      <props>
        <prop key="/dwr/**/*">dwrController</prop>
      </props>
    </property>
  </bean>

  <dwr:controller id="dwrController" debug="true"/>

  <!-- Exposed DTOs -->
  <dwr:configuration>
    <dwr:convert type="bean" class="org.example.testdwr.TestBean"/>
    <dwr:convert type="bean" class="org.example.testdwr.ObjB" javascript="ObjB"/>
    <dwr:convert type="object" class="org.example.testdwr.ObjA" javascript="ObjA">
      <!-- TODO: how do we do this: <param name="force" value="true"/> -->
    </dwr:convert>
    <dwr:convert type="bean" class="org.example.testdwr.TestResult"/>

    <dwr:convert type="exception" class="java.lang.NullPointerException"/>
    <dwr:convert type="exception" class="org.xml.sax.SAXParseException"/>
    <dwr:convert type="bean" class="java.lang.StackTraceElement"/>
  </dwr:configuration>

  <!-- TODO: Can we do filters?
  <filter class="org.directwebremoting.filter.AuditLogAjaxFilter"/>
  -->

  <!-- Exposed Services -->
  <bean name="Test" class="org.example.testdwr.Test">
    <!-- Could we default this to the bean name? -->
    <dwr:remote javascript="Test"/>
  </bean>
  <bean name="Recorder" class="org.example.testdwr.Recorder">
    <dwr:remote javascript="Recorder"/>
  </bean>

  <!--
  <signatures>
  <![CDATA[
  import java.util.*;
  import org.example.testdwr.*;

  Test.testBeanSetParam(Set<TestBean>);
  Test.testBeanListParam(List<TestBean>);
  Test.charTestBeanMapParam(Map<Character, TestBean>);

  Test.stringStringMapParam(Map<String, String>);
  Test.stringStringHashMapParam(HashMap<String, String>);
  Test.stringStringTreeMapParam(TreeMap<String, String>);

  Test.stringCollectionParam(Collection<String>);

  Test.stringListParam(List<String>);
  Test.stringLinkedListParam(LinkedList<String>);
  Test.stringArrayListParam(ArrayList<String>);

  Test.stringSetParam(Set<String>);
  Test.stringHashSetParam(HashSet<String>);
  Test.stringTreeSetParam(TreeSet<String>);
  ]]>
  </signatures>
  -->

</beans>
