name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.7
        uses: actions/setup-java@v1
        with:
          java-version: 1.7
          java-package: jdk
      - name: Build with Ant
        run: ant -noinput -buildfile build.xml
